<:Title>
  dougchat

<:Body>
    <h1>Say sumn...</h1>
    <div class="chats-list">
      {{ latest_chats.each do |chat| }}
      <div class="chat row {{ if chat.user_id == Volt.current_user.id.value }}my-chat{{ end}}">
            <div class="chat-body col-sm-8">{{ chat._body }}</div>
            <div class="chat-author col-sm-4">{{ chat.user.name }} @ {{ rdatetime chat._created_at }}</div>
      </div>
      {{ end }}
    </div>
  {{ if Volt.current_user }}
    <div class="chat-form">
      <form e-submit="submit_chat" role="form">
        <input type="text" value="{{ page._new_chat }}" class="form-control" placeholder="What's on your mind?">
      </form>
    </div>
  {{ else }}
    Please <a href="/login" title="Login">Login</a>
  {{ end }}


